* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #51518F;  */
}

.container {

  max-width:690px;
  margin:0 auto;
  padding:32px 20px;}


header {
    display: grid;
    justify-items: center;
    color: white;
    font: 16px 'Martian Mono', sans-serif;
}


header h1 {
    padding: 15px;
}

header h3 {
    font-weight: 150;
    padding: 15px;
}



form div {
    display: grid;
    justify-content: center;
    align-items: center;
    font: 16px 'Martian Mono', sans-serif;
    color: white;


}

.titulos {
    padding-bottom: 10px;
}

.perguntaspessoais {
    padding: 15px;

}

section {
    display: flex;
    justify-content: center;


}

body {
    padding: 20px 24%;
}

fieldset {
    margin: 0px auto;
    padding: 25px;
    
    background-color: #2A2948;
}

body {
    background-color: #51518F;

}

form textarea {
    display: flex;
    font: 13px 'Martian Mono', sans-serif;
    padding-top: 15px;
    align-items: center;
    padding-left: 10px;
    font-weight: 1000;
    resize: none;

}

form textarea::placeholder {
    font: 13px 'Martian Mono', sans-serif;
    font-weight: 700;

}

.generojogos {
    display: grid;
    font: 21px 'Martian Mono', sans-serif;
    


}

.jogofav {
    display: block;
}

select {
    font: 14px 'Martian Mono', sans-serif;
    font-weight: 700;
}

.opcoeshoradia {
    display:block;
    gap: 10px;
    
    
}

.tudohora{
    gap: 10px;

}

.horadia {
    display: block;
    gap: 30px;
}



.divplat {
    display: block;

}

button {
    all: unset;
    color: #ffffff;
    border-radius: 10px;


}

.botao {
    display: flex;
    border-radius: 100px;
    margin: 25px 100px;
    padding: 0px;
    cursor: pointer;
    


}

input,
select,
option {
    cursor: pointer;
}